<!-- Sidebar Start -->
<aside class="left-sidebar">
	<!-- Sidebar scroll-->
	<div>
		<div class="brand-logo d-flex align-items-center justify-content-between">
			<a href="#" class="text-nowrap logo-img">
				<img src="{{ asset("/assets/images/logos.png") }}" alt="" style="width: 150px">
			</a>
			<div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
				<i class="ti ti-x fs-8"></i>
			</div>
		</div>
		<!-- Sidebar navigation-->
		<nav class="sidebar-nav scroll-sidebar" data-simplebar>
			<ul id="sidebarnav">
				<!-- Home -->
				<li class="nav-small-cap">
					<iconify-icon icon="solar:home-2-line-duotone" class="nav-small-cap-icon fs-4"></iconify-icon>
					<span class="hide-menu">Home</span>
				</li>

				<!-- Dashboards -->
				{% if is_granted('ROLE_ADMIN') %}
					<li class="sidebar-item">
						<a class="sidebar-link" href="{{ path('app_dashboard_admin') }}">
							<iconify-icon icon="solar:graph-new-up-linear" class="fs-5"></iconify-icon>
							<span class="hide-menu">Dashboard</span>
						</a>
					</li>
				{% endif %}
				{% if is_granted('ROLE_SELLER') %}
					<li class="sidebar-item">
						<a class="sidebar-link" href="{{ path('app_dashboard_seller') }}">
							<iconify-icon icon="solar:chart-2-linear" class="fs-5"></iconify-icon>
							<span class="hide-menu">Dashboard</span>
						</a>
					</li>
				{% endif %}
				{% if is_granted('ROLE_PHARMACIST') %}
					<li class="sidebar-item">
						<a class="sidebar-link" href="{{ path('app_dashboard_pharmacist') }}">
							<iconify-icon icon="solar:chart-square-linear" class="fs-5"></iconify-icon>
							<span class="hide-menu">Dashboard</span>
						</a>
					</li>
				{% endif %}

				<li><span class="sidebar-divider"></span></li>

				<!-- Produits -->
				{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PHARMACIST') %}
					<li class="nav-small-cap">
						<iconify-icon icon="solar:box-minimalistic-line-duotone" class="nav-small-cap-icon fs-4"></iconify-icon>
						<span class="hide-menu">Produits</span>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="{{ path('app_product_index') }}">
							<iconify-icon icon="solar:box-minimalistic-linear" class="fs-5"></iconify-icon>
							<span class="hide-menu">Liste Produits</span>
						</a>
					</li>
					<li><span class="sidebar-divider"></span></li>
				{% endif %}

				<!-- Catégories -->
				{% if is_granted('ROLE_ADMIN') %}
					<li class="nav-small-cap">
						<iconify-icon icon="solar:layers-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
						<span class="hide-menu">Catégories</span>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="{{ path('app_category_index') }}">
							<iconify-icon icon="solar:layers-linear" class="fs-5"></iconify-icon>
							<span class="hide-menu">Liste Catégories</span>
						</a>
					</li>
					<li><span class="sidebar-divider"></span></li>

					<!-- Fournisseurs -->
					<li class="nav-small-cap">
						<iconify-icon icon="solar:truck-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
						<span class="hide-menu">Fournisseurs</span>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="{{ path('app_supplier_index') }}">
							<iconify-icon icon="solar:truck-linear" class="fs-5"></iconify-icon>
							<span class="hide-menu">Liste Fournisseurs</span>
						</a>
					</li>
					<li><span class="sidebar-divider"></span></li>

					<!-- Clients -->
					<li class="nav-small-cap">
						<iconify-icon icon="solar:users-group-two-rounded-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
						<span class="hide-menu">Clients</span>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="{{ path('app_client_index') }}">
							<iconify-icon icon="solar:user-linear" class="fs-5"></iconify-icon>
							<span class="hide-menu">Liste Clients</span>
						</a>
					</li>
					<li><span class="sidebar-divider"></span></li>
				{% endif %}

				<!-- Stock -->
				{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PHARMACIST') %}
					<li class="nav-small-cap">
						<iconify-icon icon="solar:archive-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
						<span class="hide-menu">Stock</span>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="{{ path('app_stock_index') }}">
							<iconify-icon icon="solar:archive-linear" class="fs-5"></iconify-icon>
							<span class="hide-menu">Liste Stocks</span>
						</a>
					</li>
					<li><span class="sidebar-divider"></span></li>
				{% endif %}

				<!-- Caisses -->
				<li class="nav-small-cap">
					<iconify-icon icon="solar:wallet-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
					<span class="hide-menu">Caisses</span>
				</li>
				{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SELLER') %}
					<li class="sidebar-item">
						<a class="sidebar-link" href="{{ path('app_sale_index') }}">
							<iconify-icon icon="solar:shopping-cart-check-linear" class="fs-5"></iconify-icon>
							<span class="hide-menu">Vendre</span>
						</a>
					</li>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PHARMACIST') %}
					<li class="sidebar-item">
						<a class="sidebar-link" href="{{ path('app_sale_list') }}">
							<iconify-icon icon="solar:receipt-list-linear" class="fs-5"></iconify-icon>
							<span class="hide-menu">Liste Ventes</span>
						</a>
					</li>
				{% endif %}

				<!-- Utilisateurs -->
				{% if is_granted('ROLE_ADMIN') %}
					<li class="nav-small-cap">
						<iconify-icon icon="solar:settings-minimalistic-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
						<span class="hide-menu">Administration</span>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="{{ path('app_user_index') }}">
							<iconify-icon icon="solar:user-id-linear" class="fs-5"></iconify-icon>
							<span class="hide-menu">Utilisateurs</span>
						</a>
					</li>
				{% endif %}
			</ul>
		</nav>
		<!-- End Sidebar navigation -->
	</div>
	<!-- End Sidebar scroll-->
</aside>
<!-- Sidebar End -->
