<!-- Sidebar Start -->
<aside
	class="left-sidebar">
	<!-- Sidebar scroll-->
	<div>
		<div class="brand-logo d-flex align-items-center justify-content-between">
			<a href="#" class="text-nowrap logo-img">
				<img src="{{ asset("/assets/images/logos/logo.svg") }}" alt=""/>
			</a>
			<div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
				<i class="ti ti-x fs-8"></i>
			</div>
		</div>
		<!-- Sidebar navigation-->
		<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
			<ul id="sidebarnav">
				<li class="nav-small-cap">
					<iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
					<span class="hide-menu">Home</span>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="./index.html" aria-expanded="false">
						<iconify-icon icon="solar:widget-add-line-duotone"></iconify-icon>
						<span class="hide-menu">Dashboard</span>
					</a>
				</li>
				<li>
					<span class="sidebar-divider lg"></span>
				</li>
				<li class="nav-small-cap">
					<iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
					<span class="hide-menu">PRODUITS</span>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="{{ path("app_product_index") }}" aria-expanded="false">
						<iconify-icon icon="solar:layers-minimalistic-bold-duotone"></iconify-icon>
						<span class="hide-menu">liste produits</span>
					</a>
				</li>
				<li>
					<span class="sidebar-divider lg"></span>
				</li>
				<li class="nav-small-cap">
					<iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
					<span class="hide-menu">CATEGORIES</span>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="{{ path("app_category_index") }}" aria-expanded="false">
						<i class="ti ti-category nav-small-cap-icon fs-4"></i>
						<span class="hide-menu">liste categories</span>
					</a>
				</li>
				<li>
					<span class="sidebar-divider lg"></span>
				</li>

				<li class="nav-small-cap">
					<iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
					<span class="hide-menu">FOURNISSEURS</span>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="{{ path("app_supplier_index") }}" aria-expanded="false">
						<i class="ti ti-truck-delivery nav-small-cap-icon fs-4"></i>
						<span class="hide-menu">liste fournisseurs</span>
					</a>
				</li>
				<li>
					<span class="sidebar-divider lg"></span>
				</li>

				<li class="nav-small-cap">
					<iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
					<span class="hide-menu">CLIENTS</span>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="{{ path("app_client_index") }}" aria-expanded="false">
						<i class="ti ti-truck-delivery nav-small-cap-icon fs-4"></i>
						<span class="hide-menu">liste clients</span>
					</a>
				</li>
				<li class="nav-small-cap">
					<iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
					<span class="hide-menu">STOCK</span>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="{{ path("app_stock_index") }}" aria-expanded="false">
						<i class="ti ti-truck-delivery nav-small-cap-icon fs-4"></i>
						<span class="hide-menu">liste stocks</span>
					</a>
				</li>

				<li class="nav-small-cap">
					<iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
					<span class="hide-menu">Ventes</span>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="{{ path("app_sale_index") }}" aria-expanded="false">
						<i class="ti ti-truck-delivery nav-small-cap-icon fs-4"></i>
						<span class="hide-menu">Vendre</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="{{ path("app_sale_list") }}" aria-expanded="false">
						<i class="ti ti-truck-delivery nav-small-cap-icon fs-4"></i>
						<span class="hide-menu">Liste</span>
					</a>
				</li>

				<li class="nav-small-cap">
					<iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
					<span class="hide-menu">Admin</span>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="{{ path("app_user_index") }}" aria-expanded="false">
						<i class="ti ti-truck-delivery nav-small-cap-icon fs-4"></i>
						<span class="hide-menu">Utilisateur</span>
					</a>
				</li>

			</ul>

		</nav>
		<!-- End Sidebar navigation -->
	</div>
	<!-- End Sidebar scroll-->
</aside>
<!--  Sidebar End -->
