{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    {{ form_start(formSale,{'attr' : {'novalidate' : 'novalidate'}})  }}
                    <div class="row justify-content-center align-content-center mb-4 mt-2">
                        <div class="col-md-6 mt-4">
                            {{ form_widget(formSale) }}
                        </div>
                        <div class="col-md-6 mt-4">
                            <a href="{{ path('app_client_new') }}" class="btn btn-outline-success"><i class="bi bi-plus-circle"></i></a>
                        </div>
                    </div>
                    {{ form_end(formSale) }}
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header bg-success text-white d-flex justify-content-between align-items-center">
                        <strong>🧾 Panier</strong>

                        <a href="{{ path('app_clear_session') }}" class="btn btn-danger btn-md">
                            <i class="bi bi-trash"></i> Vider
                        </a>

                    </div>
                    <div class="card-body p-0 table-responsive" data-simplebar>
                        <table class="table text-nowrap align-middle table-custom mb-0" id="cart">
                            <thead >
                            <tr>
                                <th scope="col" class="text-dark fw-normal">Produit</th>
                                <th scope="col" class="text-dark fw-normal">Qté</th>
                                <th scope="col" class="text-dark fw-normal">PU</th>
                                <th scope="col" class="text-dark fw-normal">Total</th>
                                <th scope="col" class="text-dark fw-normal">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cart in carts %}
                                <tr>
                                    <td class="text-dark">{{ cart.product.name }}</td>
                                    <td class="text-dark product-quantity" data-product-id="{{ cart.product.id }}">{{ cart.quantity }}</td>
                                    <td class="text-dark">{{ cart.product.unitPrice|number_format(2) }} GNF</td>
                                    <td class="text-dark">{{ cart.total |number_format(2) }} GNF</td>
                                    <td class="text-dark">
                                        <a class="btn btn-sm btn-warning remove-to-cart" href="{{ path('app_cart_decrement', {'id' : cart.product.id}) }}" >
                                            <i class="bi bi-dash-circle"></i>
                                        </a>
                                        <a class="btn btn-sm btn-danger add-to-cart" href="{{ path('app_cart_remove', {'id' : cart.product.id}) }}">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4" class="text-center text-muted">Aucun produit dans le panier</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center mt-4">
                    <h5>Total : <span id="total" class="text-primary fw-bold">{{ total |number_format(2) }}</span> GNF</h5>
                    <button id="valider-vente" class="btn btn-success">
                        <i class="bi bi-check-circle"></i> Valider la vente
                    </button>
                </div>

                {{ form_start(form,{'attr' : {'novalidate' : 'novalidate'}})  }}
                <div class="row justify-content-center align-content-center mb-4 mt-5">
                    <div class="col-md-6 mt-4">
                        {{ form_widget(form.search) }}
                    </div>
                    <div class="col-md-6 mt-4">
                        <button type="submit" class="btn btn-outline-success">Rechercher</button>
                    </div>
                </div>
                {{ form_end(form) }}

                <div class="card shadow mb-4">
                    <div class="card-header bg-primary text-white">
                        <strong>📦 Liste des produits disponibles</strong>
                    </div>
                    <div class="card-body p-0">
                        <table class="table text-nowrap align-middle table-custom mb-0" id="product-list">
                            <thead >
                            <tr>
                                <th scope="col" class="text-dark fw-normal">Produit</th>
                                <th scope="col" class="text-dark fw-normal">Stock</th>
                                <th scope="col" class="text-dark fw-normal">Prix</th>
                                <th scope="col" class="text-dark fw-normal">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr data-id="{{ product.id }}" data-stock="{{ product.stock.quantity }}"
                                    data-price="{{ product.unitPrice }}" data-url="{{ path('app_cart_add', {'id': product.id}) }}">
                                    <td class="text-dark">{{ product.name }}</td>
                                    <td class="text-dark">{{ product.stock.quantity }}</td>
                                    <td class="text-dark">{{ product.unitPrice|number_format(2) }} GNF</td>
                                    <td class="text-dark">
                                        <button class="btn btn-sm btn-success add-to-cart">
                                            <i class="bi bi-plus-circle"></i> Ajouter
                                        </button>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4" class="text-center text-muted">Aucun produit disponible</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="navigation mt-3 d-flex justify-content-end align-items-center">
                            {{ knp_pagination_render(products) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let clientId = '';
        const select = document.querySelector('#sale_form_client');

        if (select) {
            clientId = select.value;
            select.addEventListener('change', function () {
                clientId = this.value;
            });
        }

        document.querySelectorAll('.add-to-cart').forEach(btn => {
            btn.addEventListener('click', function (event) {
                const row = this.closest('tr');
                const productId = row.dataset.id;
                const url = row.dataset.url;

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': '{{ csrf_token("validate_sale") }}'
                    },
                }).then(response => response.json())
                    .then(res => {
                        if (res.success) {
                            toastr.{{ 'success' }}('Produit rajouté au panier');
                        } else {
                            toastr.{{ 'error' }}(res.error);
                        }
                        setTimeout(() => {
                            window.location.reload();
                        }, 1000);
                    })
                    .catch(error => {
                        console.error("Erreur :", error);
                    });
            });
        });


        document.getElementById('valider-vente').addEventListener('click', () => {
            const cart = {{ app.session.get('cart')|json_encode|raw }};

            if (cart.length === 0) {
                alert('Veuillez ajouter au moins un produit');
                toastr.{{ 'info' }}('Veuillez ajouter au moins un produit');
                return;
            }

            fetch('{{ path('app_sale_new') }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': '{{ csrf_token("validate_sale") }}'
                },
                body: JSON.stringify({ id : clientId})
            }).then(r => r.json()).then(res => {
                if (res.success) {
                    window.open(res.ticketUrl, '_blank');
                    alert('✅ Vente enregistrée !');
                    toastr.{{ 'success' }}('Vente enregistrée ');
                    location.reload();
                } else {
                    alert('❌ Erreur : ' + res.error);
                    toastr.{{ 'error' }}(res.error);
                }
            });
        });
    </script>
{% endblock %}
