{% extends 'base.html.twig' %}

{% block title %}liste du stocks{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="card-title fw-semibold mb-4">Liste du stock</h5>
                </div>
                <div class="table-responsive" data-simplebar>
                    <table class="table text-nowrap align-middle table-custom mb-0">
                        <thead>
                        <tr>
                            <th scope="col" class="text-dark fw-normal ps-0">Nom du produit
                            </th>
                            <th scope="col" class="text-dark fw-normal">quantité</th>
                            <th scope="col" class="text-dark fw-normal">Création</th>
                            <th scope="col" class="text-dark fw-normal">Modification</th>
                            <th scope="col" class="text-dark fw-normal">actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for stock in stocks %}
                            <tr>
                                <td><span class="text-dark">{{ stock.product.name }}</span></td>
                                <td><span class="text-dark">{{ stock.quantity }}</span></td>
                                <td>
                                    <span class="text-dark">{{ stock.createdAt ? stock.createdAt|date('d/m/y') : '' }}</span>
                                </td>
                                <td>
                                    <span class="text-dark">{{ stock.updatedAt ? stock.updatedAt|date('d/m/y') : '' }}</span>
                                </td>
                                <td>
                                    <a href="{{ path('app_stock_edit', {'id': stock.id}) }}"
                                       class="btn btn-light"> <i class="bi bi-pencil"></i></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">Stock indisponible</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="navigation mt-3 d-flex justify-content-end align-items-center">
                        {{ knp_pagination_render(stocks) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
